
.button {
	-fx-background-color: #4AC1E5;
	-fx-background-radius: 2;
	-fx-text-fill: #ffffff;
	-fx-font-weight: bold;
	-fx-font-size: 10pt;
}
.radio-button {
	-fx-text-fill: #4b4a4a;
	-fx-font-size: 11pt;
}
.label {
	-fx-background-radius: 9;
	-fx-text-fill: #4b4a4a;
	-fx-font-size: 11pt;
}
.button-transparent{
	-fx-background-color: transparent;
	-fx-background-radius: 2;
	-fx-border-color: #D1D1D1;
	-fx-text-fill: #4b4a4a;
	-fx-font-weight: bold;
	-fx-font-size: 11pt;
}
.label-title {
	-fx-text-fill: #ffffff;
	-fx-font-size: 17pt;
}
.gridpane{
	-fx-font-size: 12pt;
	-fx-text-fill: #ffffff;
}
.vbox{
	-fx-background-color: #404040;
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}
.hbox{
	-fx-background-color: #4AC1E5;
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;

}
#big-label{
	-fx-font-weight: bold;
	-fx-font-size: 13pt;
}



