
.root{
	-fx-background-color: #f0f8ff;
	-fx-font-size: 12pt;
}
.window{
	-fx-background-color: #2f4f4f;
	-fx-font-size: 12pt;
	-fx-font-weight: bold;
	-fx-text-fill: #ffffff;
}

.label {
	-fx-text-fill: #000000;
	-fx-font-weight: bold;
}
.button {
	-fx-background-color: #778899;
	-fx-background-radius: 9;
	-fx-text-fill: #ffffff;
}
#menuPane {
	-fx-background-color: #1e90ff;
	-fx-font-size: 12pt;
}
